/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Estilos para formularios */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #218838;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    
}
thead{
    color: red;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dividido{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    background-color: #eb60605d; 
    overflow: hidden;   
    justify-content: center;
}

nav a {
    float: left; 
    display: block; 
    color: rgb(56, 44, 44); 
    text-align: center; 
    padding: 14px 20px;
    text-decoration: none; 
    transition: background-color 0.3s; 
}


nav a:hover {
    background-color: #ee818133; 
}